*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box

}
html{
    background-color: #fff;
    color: black;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    letter-spacing: 1px;
}

.flex{
    display: flex
}

header{
    padding: 1rem;
    background: #393994;
    color: white;
    text-align: center
}
.upper_container{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/cal_img.jpg");
    height: 30%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form_container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.todo_form{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center
}


.float_input{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 2rem;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.float_container {
    position: relative;
    margin: 0.5rem 1rem
    /* width: 50% */
}
.float_container_input{
    flex: 3
}
.float_container_date{
    flex: 1
}

.floating_placeholder {
    position: absolute;
    top: 32%;
    left: 0;
    color: white;
    opacity: 0.5;
    pointer-events: none;
    transition: 0.2s ease all;
}
.float_input:focus~.floating_placeholder,
.float_input:not(:focus):valid~.floating_placeholder {
    top: -25%;
    font-size: 15px;
    opacity: 0.5;
    left: 0;
}


.item_container{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 60px;
    flex-wrap: wrap;
}
.todo_container,.tododone_container{
    flex: 1;
    font-size: 70%;
    margin: 0 10px;
}
.item_title{
    flex: 1;
    padding: 0 20px;
}
.item_date{
    padding: 10px;
    background:#393994;
    color: white;
    font-weight: bold
}

.btn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-right: 10px
}
input:focus{
    outline: none
    
}
.btn:active,.btn:focus{
    border: none;
    outline: none
}
.icon{
    margin-right: 10px;
    cursor: pointer;
    transition: all .4s
}
.icon:hover{
    transform: scale(1.3)
}

.add_item{
    margin: 1rem 0;
    font-size: 120%;
    position: relative;
    display: flex;
    border-bottom: 1px solid #e7e7e7;
    align-items: center;
    transition: all .5s ease;
    overflow: hidden;
    animation: slide-up 0.5s;
}

.todo_title{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
    cursor: pointer
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    opacity: 0
}

.item_valbtn{
    font-size: 1rem;
    transform: translateX(110%);
    transition: all .3s;
    
}
.add_item:hover .item_valbtn{
    transform: translateX(0);
}
.sort_by p{
    margin:0 10px;
    font-size: 1rem
}

.search_container{
    justify-content: center;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap
}

.query_search{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px
}

.sort_by .icon{
    color: gray;
    margin-right: 0
}

.black_color {
    color: black !important;
    transform: scale(1.2)
}
.todo_cancel{
    display: none
}

@media only screen and (max-width: 650px) {
    .float_container,.todo_container,.tododone_container,.query_search , .sort_by{
        flex: 1 100%
    }
    .todo_container,.tododone_container,.query_search , .sort_by{
        margin: 10px 0
    }
    .upper_container{
        height: 35%;
    }
  }

  @keyframes slide-up {
    0%{
        opacity: 0;
        transform: translateY(-40px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}